<h1>Edit <%=@product.name%> page</h1>
<%=  link_to("Back to Index", products_path) %>
<hr>
<!-- <p>Find me in app/views/products_controller/new.html.erb</p> -->


<%= render 'products/form', product: @product %>

<%= @product.errors.full_messages.first if @product.errors.any? %>
