<h1>Edit review for <%= @product.name %> </h1>

<%= render 'reviews/form', product: @product, review: @review %>

<!-- <%= link_to("Delete", "/products/#{@product.id}/reviews/#{@review.id}/edit", method: :delete)%> -->
